body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; 
    }

    .face {
      position: relative;
      width: 120px;
      height: 120px;
      background-color: #3498db; 
      border-radius: 50%;
      animation: bouncing 1s infinite ease-in;
    }

    .eye {
      position: absolute;
      width: 30px;
      height: 30px;
      background: white;
      border-radius: 50%; 
      top: 30px;
    }

    .eye::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: black;
      border-radius: 50%;
      top: 7px;
      left: 7px;
    }

    .eye.left {
      left: 20px;
    }

    .eye.right {
      right: 20px;
    }

    .mouth {
      position: absolute;
      width: 30px;
      height: 10px;
      border-radius: 0 0 15px 15px;
      background: black;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }

    @keyframes bouncing {
      50% {
        transform: translateY(30px);
      }
    }



    
/* If I built it by hover but not dynamic :
 body {
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .face {
      width: 120px;
      height: 120px;
      background-color: #3498db;
      border-radius: 50%;
      position: relative;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
    }

   
    .face:hover,
    .face:active {
      transform: translateY(30px);
    }

    .eye {
      width: 30px;
      height: 30px;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: 30px;
    }

    .eye::after {
      content: '';
      width: 15px;
      height: 15px;
      background: black;
      border-radius: 50%;
      position: absolute;
      top: 7px;
      left: 7px;
    }

    .eye.left {
      left: 25px;
    }

    .eye.right {
      right: 25px;
    }

    .mouth {
      width: 30px;
      height: 10px;
      border-radius: 0 0 15px 15px;
      background: black;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
*/    