body 
  background-color: white
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  font-family: Georgi
  font-style: italic

.container 
  width: 85%
  height: 65%
  border-radius: 20px
  overflow: hidden
  position: relative
  background-image: url("R.jpg")
  background-size: cover
  
  
 
  &::before 
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(12px)
    -webkit-backdrop-filter: blur(12px)
  

.container2 
  position: absolute
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: white

h1 
  font-size: 30px
  margin-bottom: 0

p 
  font-size: 13px


