body {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}

.card {
    border-radius: 12px;
}

.progress {
    border-radius: 6px;

    .progress-bar {
    transition: width 0.3s ease-in-out;
  }
}


.list-group-item {
    border-bottom: 1px solid #ddd;

   i {
    font-size: 20px;
  }
}